body {
    background-color: lightblue;
}

.logo {
    width: 50px;
    height: auto;
}

.thumbnail {
    width: 150px;
    height: auto;
}


body{
    background-color: #00f121f;
    background-repeat-y: no-repeat;
    background-size:cover;
    background-size: 110%;
    direction: rtl;

    color: #000000;
}

body *{

    font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #023cf4;
    text-decoration: none;
}
