{% extends 'base_layout.html' %}

{% block content %}

<h1>עמותות סיוע</h1>
<div class="aid_org">
    {% for aid_org in aid_org %}
    <div class="aid_org">
        <h2><a href="{% url 'aid_org:detail' aid_org.slug %}">{{aid_org.name}}</a></h2>
        <a href="{% url 'aid_org:detail' aid_org.slug %}"> <!-- This will link to the detail page of the aid_org -->
            <img class="thumbnail" src="{{ aid_org.thumb.url }}">
        </a>
        <p>{{aid_org.snippet}}</p>
        <p>{{aid_org.date}}</p>
    </div>
    {% endfor %}
</div>
    <p>המשימה שלנו היא לעזור לאנשים בשעת צרה</p>
{% endblock %}